/* line 1, ../scss/map.scss */
html, body {
  height: 100%;
  overflow: hidden;
}

/* line 6, ../scss/map.scss */
#navbar {
  width: 100%;
  float: left;
}

/* line 11, ../scss/map.scss */
#map-canvas {
  height: 100%;
  width: 100%;
}

/* line 16, ../scss/map.scss */
#control {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px #000000;
  padding: 3px;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 1;
}
