html,body{
  height:100%;
}

#map-canvas{
  height:100%;
  width:100%;
}

#control{
  background-color: #ffffff;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #000000;
}

#directions-panel{

}